.App {
  max-width: 700px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-top: 30px;
}
.App-header h1 {
  margin-top: 0;
}

.response-card {
  background-color: #d4d1d1;
}